* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --title-font-size: 2.2rem;
    --main-text-color: #333;
    --content-font-size: 1.4rem;
    --header-height: 60vmin;
    --nav-proportion: 0.15;
    --animation-time: 1s;
}

a {
    text-decoration: none;
    color: white;
}

body {
    height: 200vh;
    position: relative;
}

header {
    position: relative;
    height: var(--header-height);
    /* background-color: wheat; */
}

header nav {
    display: flex;
    position: fixed;
    height: calc(var(--header-height) * 0.15);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    
    color: white;
    padding: 0 1.5rem 0 2.5rem;
    z-index: 99;
}

footer {
    line-height: calc(var(--header-height) * 0.15);
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: var(--content-font-size);
}

.banner {
    position: fixed;
    top: calc(var(--header-height) * 0.15);
    height: calc(var(--header-height) - calc(var(--header-height) * 0.15));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6rem 8rem 4rem 6rem;
    font-style: oblique;
    
    background-color: rgb(41, 46, 51);
    color: white;
    z-index: -1;
}

/* .banner div {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: deepskyblue;
    filter: blur(3px);
} */

.banner-title {
    font-size: 2.2rem;
}

.banner-subtitle {
    font-size: 1.4rem;
    align-self: flex-end;
}

#nav-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-links {
    height: 100%;
    display: flex;
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.5rem 0 1.5rem;
    transition: all .2s;
}

.nav-links a:hover {
    padding-bottom: 0.4rem;
    border-bottom: 4px solid white;
}

img {
    width: 100%;
    height: 100%;
}

#about-me {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 6rem 2rem 4rem 2rem;
    background-color: #ddd;
    color: var(--main-text-color);

    box-shadow: 0 0px 5px 5px #ddd;
}

#about-me::before {
    content: '';
    position: absolute;
    width: 0.75rem;
    right: 8%;
    height: 100%;
    top: 0px;
    background-color: rgba(82, 93, 102, 85%);
    box-shadow: 0 0 0 7px rgba(82, 93, 102, 85%);

    animation: line-down var(--animation-time) ease-out;
}

#about-me .img-box {
    position: relative;
    width: 30%;
    min-width: 300px;
    max-height: 600px;
    border-radius: 200px 5px 50px 5px;
    transform: rotate(-1.5deg);
    overflow: hidden;
    margin-right: 5%;
}

#about-me .img-box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 1px 1px 15px inset #222;
    z-index: 1;
}

@keyframes line-down {
    from {
        height: 0;
        top: 50%;
    }
}

#about-me img {
    object-fit: cover;
    object-position: 70%;
    transition: .5s;
}

#about-me .img-box:hover img{
    transform: translate(4%, 4%) scale(110%);
}

.about-me-title {
    margin-bottom: 2rem;
    border-bottom: 6px solid rgb(82, 93, 102);
    padding-bottom: .5rem;
    white-space: nowrap;

    /* animation property */
    width: 11rem;
    margin-left: -4rem;
    text-indent: 4rem;
    font-size: var(--title-font-size);
    animation: title-in var(--animation-time) ease-out;
    /* animation property */
}

#about-me section {
    width: 60%;
    padding: 2rem 0 2rem 2rem;
}

#about-me p {
    font-size: var(--content-font-size);
    text-indent: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;

    position: relative;
    z-index: 6;
}

#education {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 5rem 6rem;
    background-color: aliceblue;
    color: var(--main-text-color);
}

.education-title {
    border-bottom: 5px solid rgb(82, 93, 102);
    margin-left: 2rem;
    padding-bottom: .5rem;
    white-space: nowrap;
    
    /* animation properties */
    width: 12rem;
    text-indent: -4rem;
    font-size: var(--title-font-size);
    animation: title-in var(--animation-time) ease-out;
    /* animation properties */
}

.edu-box {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    font-size: var(--content-font-size);
    letter-spacing: 1px;
    
    /* text-align: center; */
    margin-top: 2.4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(154, 174, 189);
}

.icon-box {
    display: flex;
    align-items: center;
}

.edu-icon:hover {
    transform: rotateY(360deg);
}

.edu-icon {
    width: 6rem;
    margin-right: 2rem;
    transition: 1s;
}

@keyframes title-in {
    from {
        width: 0;
        text-indent: 0;
        color: transparent;
    }
}

#portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 4rem;
    background-color: #ddd;
    color: var(--main-text-color);
    /* color:transparent; */
}

.portfolio-title {
    /* position: absolute; */
    bottom: calc(100% - 6rem);
    border-bottom: 5px solid rgb(82, 93, 102);
    padding-bottom: .5rem;
    white-space: nowrap;
    margin-bottom: 2rem;
    /* margin-left: 10rem; */

    /* background-color: aquamarine; */
    /* text-align: center; */
    
    /* animation properties */
    width: 16rem;
    text-indent: 4rem;
    font-size: var(--title-font-size);
    animation: title-land var(--animation-time);
    /* animation properties */
}

.portfolio-title::before {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: -10%;
    height: 100%;
    width: 10%;
    border-bottom: 5px solid rgb(82, 93, 102);
}

@keyframes title-land {
    from {
        width: 0;
        /* padding-bottom: 10rem; */
        color: transparent;
    }
}

.grid-container {
    display: grid;
    grid-gap: .75rem;
    grid-template-rows: repeat(3, 180px);
    grid-template-columns: repeat(5, 235px);
}

.grid-container .img-box {
    position: relative;
    justify-self: stretch;
    align-self: stretch;

    transform-style: preserve-3d ;
    transition: 1s;
}

.grid-container .img-box:hover {
    transform: rotateY(180deg);
}

.grid-container .img-box::before {
    content: 'Image';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    transform: translateZ(-1px) rotateY(180deg);
}

.grid-container .img-box:nth-child(3) {
    grid-area: 1 / 3 / 3 / 5;
}

.grid-container .img-box:nth-child(5) {
    grid-area: 2 / 1 / 3 / 3;
}

.grid-container .img-box:nth-child(8) {
    grid-area: 3 / 2 / 4 / 4;
}

.grid-container img {
    object-fit: cover;
}

#skills {
    display: flex;
    justify-content: space-evenly;

    padding: 8rem 6rem;
    background-color: aliceblue;
}

.skills-title {
    border-bottom: 6px solid rgb(82, 93, 102);
    align-self: center;
    padding-bottom: .5rem;
    white-space: nowrap;
    font-size: var(--title-font-size);

    /* animation property */
    width: 10rem;
    text-indent: -21%;
    animation: title-in var(--animation-time) ease-out;
    /* animation property */
}

.skill-bar-box {
    width: 50%;
    min-width: 500px;
}

.skill-bar {
    position: relative;
    width: 100%;
    margin-bottom: .5rem;
    line-height: 2rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid rgb(82, 93, 102);
    border-left: 8px solid rgb(82, 93, 102);
    border-radius: 0 25px 25px 0;
    background-color: transparent;
    z-index: 0;
}

.skill-bar::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    font-style: oblique;
    text-indent: 102%;
    z-index: -1;

    animation: fill-up 5s ease-in-out infinite;
}

.skill-bar:nth-child(1)::before {
    content: '90%';
    width: 90%;
    background-color: lightskyblue;
}

.skill-bar:nth-child(2)::before {
    content: '90%';
    width: 90%;
    background-color: lightcoral;
}

.skill-bar:nth-child(3)::before {
    content: '80%';
    width: 80%;
    background-color: lightgreen;
}

.skill-bar:nth-child(4)::before {
    content: '60%';
    width: 60%;
    background-color: lightsalmon;
}

.skill-bar:nth-child(5)::before {
    content: '65%';
    width: 65%;
    background-color: wheat;
}

@keyframes fill-up {
    from {
        width: 0;
        opacity: 0;
    }
}

input, button {
    outline: none;
    border: none;
}

#contact {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    padding: 6rem 8rem;
    background-color: #ddd;
}

.contact-title {
    width: 12rem;
    margin: 0 4rem 1rem auto;
    /* margin-right: 4rem; */
    text-indent: 45%;
    align-self: flex-end;
    padding-bottom: .5rem;
    white-space: nowrap;
    font-size: var(--title-font-size);
    border-bottom: 5px solid rgb(82, 93, 102);
}

#contact form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 4rem;
    font-size: 1.5rem;
    /* background-color:rgb(152, 163, 172); */
}

#contact section {
    width: 50%;
}

.input-field {
    line-height: 4rem;
}

.input-field label {
    display: inline-block;
    width: 40%;
    margin-right: .5rem;
    text-align: end;
    /* background-color: aquamarine; */
}

#contact form input {
    width: 50%;
    display: inline-block;
    padding: .5rem .7rem;
    font-size: inherit;
    border-radius: 5px;
}

#contact form button {
    font-size: inherit;
    padding: .5rem;
    width: 10rem;
    border-radius: 10px;
    color: white;
    align-self: flex-end;
    background-color: lightskyblue;
}

#contact form button:hover {
    background-color: lightsteelblue;
}

#contact form button:active {
    margin-bottom: -2px;
}

#contact section p {
    font-style: oblique;
}

#contact section:last-child {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}